---
import "../styles/global.css";
import EditorApp from "../components/editor/EditorApp";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Qaestio - Editor</title>
  </head>
  <body>
    <EditorApp client:load />
  </body>
</html>
