---
import "../styles/global.css";
import App from "../components/App";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="/logo-square.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content="Quaestio" />

    <title>Quaestio</title>
  </head>
  <body>
    <App client:load />
  </body>
</html>
